<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430503361658-ck7qtdo44ig3ile082okrhdkkejg8qvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430503361658-ck7qtdo44ig3ile082okrhdkkejg8qvi</string>
	<key>API_KEY</key>
	<string>AIzaSyAHOnqzkpVGUyZAXBFX-m4CASD0e6Et5sE</string>
	<key>GCM_SENDER_ID</key>
	<string>430503361658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.lunarlogic.quoteau</string>
	<key>PROJECT_ID</key>
	<string>quoteau-faed4</string>
	<key>STORAGE_BUCKET</key>
	<string>quoteau-faed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430503361658:ios:e9adc3fbaf94a3b7ae8fc3</string>
	<key>DATABASE_URL</key>
	<string>https://quoteau-faed4.firebaseio.com</string>
</dict>
</plist>